
/* section.css */

.section {
    padding: 10px 10px;
    border-bottom: 1px dashed #77777745;
}

.section__title {
    margin: 5px 0px;
    text-shadow: 1px 2px 5px #bbb;
}

.section__paragraph {
    margin: 5px 0px;
}

.section__image {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.section__idiom {
    color: #4a0db7;
}

.section__title--dark{
    text-shadow: 1px 2px 5px #111;
}

.section__idiom--dark{
    color: aqua;
}